<ul>
  <br>
  <h4><center>Компания "Подбор Авто" оказывает профессиональную помощь при покупке и продаже автомобиля.</center></h4>
  <br>
  <h4><center>Порядок действий:</center></h4>

  <h5><center>1. Выезд специалиста на осмотр.</center></h5>
  <p style="text-indent:15px">Сотрудник нашей компании, определив интересующие и актуальные варианты авто, договаривается о встрече и месте осмотра. При условии полного соответствия автомобиля заявленным требованиям, производится комплексная диагностика на месте, после этого следует посещение станции ТО, проверка подлинности документов, юридической чистоты, сверка номеров. В случае если вариант является подходящим и экспертов устраивает, составляется диагностическая карта и полный фотоотчет, которые отправляются Вам на электронную почту или MMS. При заключении договора на подбор авто количество выездов не ограничено.</p>

  <h5><center>2. Ваше участие в процессе подбора автомобиля.</center></h5>
  <p style="text-indent:15px"> Встреча происходит в том случае, если Вам понравился подобранный вариант. Встреча будет согласована на удобное для Вас время, при обязательном присутствии нашего эксперта. Если этот автомобиль оказался именно тем, который вы хотели, наш эксперт начнет переговоры об уменьшении цены с продавцом. в 99 процентах случаев, за счет аргументированного уменьшения цены, наша услуга окажется для Вас совершенно бесплатной. Если будет необходимость, наш специалист отвезет Вас за деньгами домой,в банк и обратно.</p>

  <h5><center>3. Сопровождение сделки.</center></h5>
  <p style="text-indent:15px;">Если вы испытываете неуверенность, не знакомы со всеми тонкостями оформления документов, обеспокоены вопросом передачи денег за приобретаемый автомобиль, мы окажем Вам всю необходимую поддержку с заключением договора купли-продажи.</p>
  <h4><center>Стоимость услуг</center></h4>
  <style>
    table, th, td {
      border:1px solid black;
      padding: 5px;
      text-align:center;
    }
  </style>
  <table align="center">
    <tr><th>Цена автомобиля</th><th> Стоимость подбора </th></tr>
    <tr><td>до 300 000 руб.</td><td>5 000 руб.</td></tr>    
    <tr><td>от 300 000 до 600 000 руб.</td><td>8 000 руб.</td></tr>    
    <tr><td>от 600 000 до 1 000 000 руб.</td><td>12 000 руб.</td></tr>    
    <tr><td>от 1 000 000 до 1 500 000 руб.</td><td>17 000 руб.</td></tr>    
    <tr><td>от 1 500 000 руб.</td><td>договорная</td></tr>    
  </table>
</ul>
