<div id="company-main">
  <div class="company-head">
    компания "подбор авто"
  </div>
  <div id="podbor-info">
    <%= image_tag("market.png", id: "services-png") %>
    <li>Покупка подержанного автомобиля дело не такое простое, как это кажется на первый взгляд. Поиск подходящего варианта зачастую отнимает немало времени. При этом, основная часть предложений на рынке подержанных автомобилей, не соответствует той информации, которую предоставляет продавец. Реальный пробег, участие в серьезных автоавариях, наличие скрытых дефектов и юридических проблем - это то, что обычно пытаются скрыть от покупателя. В некоторых случаях сам продавец, не являясь первым владельцем авто, может попросту не знать деталей его прошлого. В итоге для рядового покупателя самостоятельная покупка автомобиля с пробегом превращается в лотерею, результатами которой могут стать дополнительные затраты на недавно приобретенное авто, потеря времени и нервных клеток.</li>
    <%= image_tag("broke.png", id: "services-png") %>
    <li>Чтобы избежать негативных последствий при покупке подержанного авто, верным решением будет доверить подбор автомобиля профессионалам. Эксперты компании "Подбор Авто" много лет работают на вторичном рынке автомобилей. За это время большое количество наших клиентов оценило преимущество профессионального подхода к подбору авто.</li>
    <li>Наша цель: помочь Вам с подбором железного друга, дать реальную оценку технического состояния и стоимости приобретаемого автомобиля.</li>
    <%= image_tag("lucky.png", id: "services-png") %>
  </div>
  <div class="company-head">
    порядок действий при подборе:
  </div>
  <div id="podbor-sequence">
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-caret-right fa-lg"></i>Вы связываетесь с нами по телефону или оставляете заявку на обратный звонок на нашем сайте и менеджер перезвонит Вам. Приезжаете к нам в офис (<a href="/contacts", title="Показать на карте">г. Чебоксары, пр. И.Яковлева 39А, ТК "Хевел"</a>).</li>
      <li><i class="fa-li fa fa-caret-right fa-lg"></i>Рассказываете нам об автомобиле, который желаете приобрести. После того, как все будет согласовано, заключаем договор на оказание услуг, делается предоплата. Далее наши сотрудники приступают к работе.</li>
      <li><i class="fa-li fa fa-caret-right fa-lg"></i>Как только экспертами будут подобраны несколько подходящих вариантов, Вам будет предоставлен фотоотчет. На этом этапе каждый автомобиль уже имеет предварительную оценку технического состояния (проверен кузов на наличие ремонта после аварий, проведен визуальный осмотр салона и подкапотного пространства).</li>
      <li><i class="fa-li fa fa-caret-right fa-lg"></i>Выбранный Вами автомобиль отправляется на дополнительную диагностику (проверяются ходовые узлы и агрегаты, двигатель и коробка передач, электронные системы), а также автомобиль проверяется на предмет залога, розыска и штрафов.</li>
      <li><i class="fa-li fa fa-caret-right fa-lg"></i>После окончательной проверки Вы приезжаете для осмотра выбранного автомобиля. Совершаете тестовый заезд, общаетесь с продавцом авто. Если Вас все устраивает, мы обсуждаем с продавцом окончательную цену автомобиля, основываясь на результатах диагностики.</li>
      <li><i class="fa-li fa fa-caret-right fa-lg"></i>Далее оформляется сделка и все необходимые документы для регистрации авто в ГИБДД (договор-купли продажи, заявление на осмотр, страховка). После этого Вы оплачиваете оставшуюся часть стоимости наших услуг. При необходимости можем сопроводить при оформлении в ГИБДД.</li>
    </ul>
  </div>
  <div class="company-head">
    Стоимость услуг подбора
  </div>
  <div id="podbor-prise">
    <table>
      <tr><th>Цена автомобиля, руб.</th><th> Стоимость подбора, руб. </th></tr>
      <tr><td>до 300 000</td><td>7 000</td></tr>
      <tr><td>от 300 000 <div class="nowr">до 600 000</div></td><td>10 000</td></tr>
      <tr><td>от 600 000 <div class="nowr">до 1 000 000</div></td><td>15 000</td></tr>
      <tr><td>от 1 000 000 <div class="nowr">до 1 500 000</div></td><td>20 000</td></tr>
      <tr><td>от 1 500 000</td><td>договорная</td></tr>
    </table>
  </div>
</div>
