<div class="contacts-head visible-desktop">
        наши контакты
</div>
<ol class="desc-contacts">
  <span class="phone-desk"><i class="icon-phone-sign"></i> 37-17-17</span>   
  <span class="skype-desk"><a href="skype:vasheavto", class="skype-link", title="Skype"><i class="icon-skype"></i> vasheavto</a></span>
  <span class="vkonsq-desk">
    <%= link_to(image_tag("vkon_square.png", title: "ВКонтакте"), "http://vk.com/avto") %>
  </span>
  <span class="vkon-desk hidden-phone">
    <%= link_to(image_tag("vkon.png", title: "ВКонтакте"), "http://vk.com/avto") %>
  </span>
</ol>

