<% provide(:title, 'Контакты') %>
<div id="contact-col">
  <div class="contacts-head">
    контакты
  </div>
  <div id="all-contacts">
    <b>Наш адрес:</b>
    428000, г. Чебоксары, пр. Ивана Яковлева 39А, ТК "Хевел"<br>
    <b>Часы работы:</b>
    пн-сб: с 9.00 до 18.00, вс: с 9.00 до 15.00<br>
    <b>Телефон:</b>
    <a href="tel: +78352360496" id="phone">+7 (8352) 36-04-96</a><br>
    <b>Email: </b>
    <a href="mailto: podbor-avto21@yandex.ru">podbor-avto21@yandex.ru</a><br>
    <b>Мы ВКонтакте: </b>
    <a href="http://vk.com/podbor_avto21">vk.com/podbor_avto21</a>
  </div>
  <div id="mapwrapper">
    <div id="map"></div>
  </div>
</div>
