<div class="row-fluid">
  <aside class="span3">
    <ol>
      <li>Звоните нам</li>
      <li><i class="icon-phone-sign"></i> 37-17-17</li>   
      <li><a href="skype:vasheavto", class="skype-link"><i class="icon-skype"></i> vasheavto</a></li>
    </ol>
    <% if @feedbacks.any? %>
      <ol class="feedbacks">
        <%= render @feedbacks %>
      </ol>
    <% end %>
  </aside>
  <div class="span6">
    <% if @cars.any? %>
      <ol class="cars">
        <%= render @cars %>
      </ol>
      <%= will_paginate @cars %>
    <% else %>
      <h3> На данный момент предложения отсутсвуют. </h3>
    <% end %>
  </div>
  <div class="span3">
    <% if @cars_vip.any? %>
      <ol class="vip_cars">
        <%= render 'shared/car_vip' %>     
      </ol>
    <% end %>
  </div>
</div> 
