<div class="row">
  <aside class="span3">
    <li>safasd</li>
    <li>safasd</li>
    <li>safasd</li>
    <li>safasd</li>
    <li>safasd</li>
  </aside>
  <div class="span7">
    <% if @cars.any? %>
      <h3> Предлагаем вам следующие варианты: </h3>
      <div class="cars">
        <%= render @cars %>
      </div>
      <%= will_paginate @cars %>
    <% else %>
      <h3> На данный момент предложения отсутсвуют. </h3>
    <% end %>
  </div>
</div> 
