<% provide(:title, 'Услуги') %>
<div id="services-col">
  <div class="services-head">
    услуги 
  </div>
  <ul>
    <li>Помощь при продаже автомобиля</li>
    <li>Предпродажная подготовк</li>
    <li>Подготовка документов</li>
    <li>Оформление ОСАГО</li>
  </ul>
</div>
