<% provide(:title, 'Услуги') %>
<div id="services-col">
  <div class="services-head">
    услуги 
  </div>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-caret-right"></i>Помощь при покупке и продаже автомобиля</li>
    <li><i class="fa-li fa fa-caret-right"></i>Договор купли-продажи</li>
    <li><i class="fa-li fa fa-caret-right"></i>Автострахование</li>
    <li><i class="fa-li fa fa-caret-right"></i>Тех.осмотр</li>
    <li><i class="fa-li fa fa-caret-right"></i>Компьютерная диагностика</li>
    <li><i class="fa-li fa fa-caret-right"></i>Автосервис</li>
    <li><i class="fa-li fa fa-caret-right"></i>Предпродажная подготовка авто (хичистка, полировка)</li>
  </ul>
  <%= image_tag("services.png", id: "services-png") %>
</div>
