<% provide(:title, 'Услуги') %>
<div id="services-col">
  <div class="services-head">
    услуги 
  </div>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-check fa"></i>Помощь при покупке автомобиля</li>
    <li><i class="fa-li fa fa-check fa"></i>Помощь при продаже автомобиля</li>
    <li><i class="fa-li fa fa-check fa"></i>Предпродажная подготовка</li>
    <li><i class="fa-li fa fa-check fa"></i>Подготовка документов</li>
    <li><i class="fa-li fa fa-check fa"></i>Оформление полиса ОСАГО</li>
  </ul>
</div>
