<div class="company-main">
  <div class="company-head">
    компания "подбор авто"
  </div>
  <div class="podbor-info">
    <li>Покупка подержанного автомобиля дело не такое простое, как это кажется на первый взгляд. Поиск подходящего варианта зачастую отнимает немало времени. При этом, основная часть предложений на рынке подержанных автомобилей, не соответствует той информации, которую предоставляет продавец. Реальный пробег, участие в серьезных автоавариях, наличие скрытых дефектов и юридических проблем - это то, что обычно пытаются скрыть от покупателя. В некоторых случаях сам продавец, не являясь первым владельцем авто, может попросту не знать деталей его прошлого. В итоге для рядового покупателя самостоятельная покупка автомобиля с пробегом превращается в лотерею, результатами которой могут стать дополнительные затраты на недавно приобретенное авто, потеря времени и нервных клеток.</li>
    <li>Чтобы избежать негативных последствий при покупке подержанного авто, верным решением будет доверить подбор автомобиля профессионалам. Эксперты компании "Подбор Авто" много лет работают на вторичном рынке автомобилей. За это время большое количество наших клиентов ощутило преимущество профессионального подхода к подбору авто.</li>
    <li>Наша цель: помочь Вам с подбором железного друга, дать реальную оценку технического состояния и стоимости приобретаемого автомобиля.</li>
  </div>
  <div class="podbor-sequence">
    <h4>Порядок действий при подборе автомобиля:</h4>
    <ul>
      <li>Вы связываетесь с нами по телефону или оставляете заявку на обратный звонок на нашем сайте и менеджер перезвонит Вам. Приезжаете к нам в офис (г.Чебоксары, пр.И.Яковлева,39А, рынок "Хевел")</li>
      <li>Рассказываете нам об автомобиле, который желаете приобрести. После того, как все будет согласовано, заключаем договор на оказание услуг, делается предоплата. Далее наши сотрудники приступают к работе.</li>
      <li>После того, как экспертами будут подобраны несколько подходящих вариантов, Вам будет предоставлен фотоотчет. На этом этапе каждый автомобиль уже имеет предварительную оценку технического состояния (проверен кузов на наличие ремонта после аварий, проведен визуальный осмотр салона и подкапотного пространства). </li>
      <li>Выбранный Вами автомобиль отправляется на дополнительную диагностику (проверяются ходовые узлы и агрегаты, двигатель и коробка передач, электронные системы автомобиля), а также автомобиль проверяется на предмет залога, розыска и штрафов.</li>
      <li>После окончательной проверки Вы приезжаете для осмотра выбранного автомобиля. Совершаете тестовый заезд, общаетесь с продавцом авто. Если Вас все устраивает, мы обсуждаем с продавцом окончательную цену автомобиля, основываясь на результатах диагностики.</li>
      <li>Если Вас устраивает окончательная цена автомобиля, оформляем сделку и все необходимые документы для регистрации авто в ГИБДД (договор купли продажи, заявление на осмотр, страховка). После этого Вы оплачиваете оставшуюся часть стоимости наших услуг. При необходимости можем сопроводить при оформлении в ГИБДД.</li>
    </ul>
  </div>
  <div class="podbor-prise">
    <h4><center>Стоимость услуг</center></h4>
    <style>
      table, th, td {
        border:1px solid black;
        padding: 5px;
        text-align:center;
      }
    </style>
    <table align="center">
      <tr><th>Цена автомобиля, руб.</th><th> Стоимость подбора, руб. </th></tr>
      <tr><td>до 300 000</td><td>5 000</td></tr>
      <tr><td>от 300 000 до 600 000</td><td>8 000</td></tr>
      <tr><td>от 600 000 до 1 000 000</td><td>12 000</td></tr>
      <tr><td>от 1 000 000 до 1 500 000</td><td>17 000</td></tr>
      <tr><td>от 1 500 000</td><td>договорная</td></tr>
    </table>
  </div>
</div>
