<% for car in @cars_vip %>
  <li>
    <% if car.photos.any? %>
      <%= link_to(image_tag(car.photos.first.image.url(:small), class: "vip-photo", title: "#{car.name} #{car.model}, #{car.year_of_release}"), car_path(car)) %>
    <% else %>
      <%= link_to(image_tag("small_default.png", title: "#{car.name} #{car.model}, #{car.year_of_release}"), car_path(car)) %>
    <% end %>
    <span class="vip-name">
      <%= link_to (h("#{car.name} #{car.model}, #{car.year_of_release}")), car_path(car) %>
    </span>
    <span class="vip-price">
      <%= "#{number_with_delimiter(car.price.to_i, delimiter: " ")} руб.   #{car.engine} #{car.transmission}" %>
    </span>
    <br clear="all">
  </li>
<% end %>
