<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Не удалось сохранить из-за <%= object.errors.count %> ошибки(ок)
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
