<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Не удалось сохранить из-за <%= "#{object.errors.count} #{object.errors.count==1 ? 'ошибки' : 'ошибок'}" %>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
