<div class="callback-head">
  Список клиентов
</div>
<% if @clients.any? %>
  <div id="clients">
    <table>
      <tr><th id="date-col">Дата</th><th id="name-col">Имя</th><th id="phone-col">Номер тел.</th><th></th><th></th></tr>
      <%= render @clients %>
    </table>
    <%= will_paginate @clients, :param_name => 'clients_page' %>
  </div>
<% else %>
  <%= "Клиентов нет." %>
<% end %>
