<% provide(:title, "Настройки сайта") %>
<h3>Настройки сайта</h3>

<div class="row-fluid">
  <div class="all-sitesets">
    <% @settings.each do |item| %>
      <div class="item-var"><%= t item.var %>:</div>
      <div class="item-value"><%= item.value %> <%= link_to 'Изменить', edit_setting_path(item) %></div>
    <% end %>
  </div>
</div>
