@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  height: 100%;
} 

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  height: 100%;
}

.container-fluid {
  max-width: 1001px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -46px;
}

.push {
  padding-top: 45px;
  height: 25px;
  clear: both;
}

textarea {
  resize: vertical;
}

/* typography */

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 { 
  text-align: center;
  margin: 3px 0;
}

/* header */

.navbar {
  margin: 0;
}

#logo {
  float: left;
  margin-right: 1em;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  height: 25px;
  color: #c0c0c0;
  border-top: 1px solid #c0c0c0;
  clear: both;
  ul {
    text-align:center;
    margin-left: 10px;
  }
}

.fa-lock {
  float: left;
  padding-top: 5px;
  color: #c0c0c0;
  &:hover {
    color: #696969;
    text-decoration: none;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select {
  border: 1px solid #bbb;
  padding: 1px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* car form */

.car-form {
  margin: 0 auto;
  max-width: 333px;
  text-align: center;
  p {
  }
  .vip-text {
    margin: 0 0 20px 10px;
    float: left;
  }
    
  textarea {
    width: 100%;
  }
  input, select {
    width: 49%;
  }
  
  .btn {
    width: auto;
  } 

  .photo-add {
    border-bottom: 2px solid #c0c0c0;
    padding-bottom: 15px;
    input {
      width: auto;
    }
  } 

  .photo-pre {
    margin: 0 15px 10px 2px;
  }

  .link-to-add {
    padding-top: 5px;
    padding-bottom: 10px;
  }
}
  
/* errors */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 8px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  margin: 0 auto;
  max-width: 333px;
  text-align: center;
  ul {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
      &:last-child {
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
}

/* heads */

.cars-head, .contacts-head, .vip-head, .feedbacks-head {
  text-align: center;
  color: #ffffff;
  background-color: #828282;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.feedbacks-head {
  margin-top: 2px;
}


/* cars */

.vip-first {
  background-color: #fff7ad;
}

.vip-sec {
  background-color: #fff9c9;
}

.simple-first {
  background-color: #fcfcfc;
}

.simple-sec {
  background-color: #f2f2f2;
}

.cars {
  list-style: none;
  margin: 0 0 0 0;
  .photo {
    margin: 5px 15px 5px 5px;  
    float: left;
    border: 1px solid #e8e8e8;
    max-height: 100%;
    height: auto;
  }
  .cartext {
    padding-top: 4px;
  }

  .name {
    font-weight: bold;
  }

  .price {
    margin-right: 5px;
    white-space: nowrap;
  }
  
  .engine-trans {
    margin-right: 5px;
  }

  .body-type {
    margin-right: 5px;
  }

  .footage {
    margin-right: 5px;
    white-space: nowrap;
  }

  .admin {
    margin-right: 5px;
  }
}

/* vip_cars */

.vip_cars {
  margin: 0 0 0 0;
  text-align: center;
  .car-vip {
    margin: 0 auto;
    max-width: 240px;
    background-color: #fff9c9;
    span + span {
      margin-left: 8px;
    }
  }
}

.vip-name {
  display: block;
  margin-left: 5px;
  font-weight: bold;
}

.vip-price {
  margin-left: 5px;
}

/* carshow */

.fotoshow-col {
  margin: 0 auto;
  max-width: 640px;
}

.cardesc-col {
  margin: 0 auto;
  max-width: 640px;
  .cardesc {
    margin: 0 10px;
    .contacts {
      font-size: 1.5em;
      padding-top: 10px;
      text-align: center;
    }
    .price {
      margin: 20px 0 0 0;
      
      b {
        margin-left: 1em;
      }
    }
    
    .ttx {
      padding-top: 0.5em;
    }

    .describtion {
      padding-top: 1em;
      text-indent: 1em;
    }
  }
}

/* contacts */

.as-contacts {
  background-color: #f2f2f2;
  padding-top: 0px;
  ol {
    text-align: center;
    margin: 0 0;
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
  }
  .phone-desk {
    color: #696969;
  }
}
.phone-desk {
  white-space: nowrap;
  padding-bottom: 10px;
}
.desc-contacts > div:last-child {
  padding-bottom: 0;
}

/* feedbacks */
.as-feedbacks {
  background-color: #f2f2f2;
}

.feedbacks-col {
  h4 {
    margin: 15px 0;
  }
}

.feedback {
  padding-top: 15px;
  border-bottom: 1px solid #e8e8e8; 
}  

.feedback:first-child {
  border-top: 1px solid #e8e8e8; 
}

.fname {
  font-weight: bold;
  color: #696969;
  margin-left: 25px;
}

.fcontent {
  font-style: italic;
  margin: 5px 20px 0 60px;
  text-indent: 10px;
  color: #696969;
}

.edit {
  margin-left: 25px
}

/* vk_group */

.vkgroup-vidget {
  width: 100%;
  margin-top: 2px;
}

#vk_groups,
#vk_groups iframe {
  width: 100% !important;
}

/* feed new edit */

.newfeedback-col, .feed-edit, .site-edit {
  text-align: center;
  
  h4 {
    margin: 15px 0;
  }

  input {
    width: 230px;
  }
  
  textarea {
    width: 301px;
  }

  .btn {
    width: auto;
    margin-top: 15px;
  }
}

/* siteset edit */

.siteset-edit {
  text-align: center;
 
  input {
    width: 230px;
  }

  textarea {
    width: 301px;
  }
  
  .btn {
    width: auto;
    margin-top: 15px;
  }
}

/* sitesets index */

.all-sitesets {
  max-width: 500px;


  .item-value {
    margin-left: 20px;
  } 
}  

.item-var {
  font-weight: bold;
  margin-top: 10px;
}

  
/* signin-page user-edit-page user-new */

.sign-in, .user-edit, .user-new {
  text-align: center;
  .btn {
    margin-top: 15px;
    width: auto;
  }

  input {
    width: 166px;
  }
}

/* about page */

.about-page {
  h3 {
    margin: 0;
  }
  
  p {
    margin: 0 10px 0 15px;
    text-indent: 15px
  }
}   

/* @media queries */

@media (min-width: 980px) {
  body {
    padding-top: 0px;
  }
  .navbar {
    position: static;
  }
  h4 {
    text-align: left;
  }

/* heads */

  .cars-head, .contacts-head, .vip-head {
    margin-top: 8px;
  }

/* feedbacks */
  
  .feedbacks-col {
    width: 60%;
    float: left;
    h4 {
      text-align: center;
    }
    .feedbacks {
      margin-right: 20px;
    }
  }
  .newfeedback-col {
    width: 40%;
    float: right;
    h4 {
      text-align: center;
    }
  }
  .fname {
    margin-left: 10px;
  }

  .fcontent {
    margin: 5px 5px 0 40px;
  }
   
  /* carshow */

  .fotoshow-col {
    width: 65%;
    float: left;
  }
  .cardesc-col {
    width: 35%;
    float: right;
    padding: 0;
    .cardesc {
      margin: 0 20px;
    }
  }

/* home */
  
  .left-as {
    width: 25%;
    float: left;
  }
  .center-col {
    float: left;
    width: 49%;
    margin-left: 1%;
  }
  .right-as {
    width: 24%;
    float: right;
  }

/* contacts */

  .desc-contacts {
    padding: 10px 0;
  }
  .vkonsq-desk, .vkonsq-sh {
    display: none;
  }
  .phone-desk {
    font-size: 1.5em;
  }
  .skype-desk {
    display: block;
    margin: 8px 0;
    font-size: 1.4em;
  }
  .vkon-desk {
    img {
      width: 170px;
      margin-bottom: 0px;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  h4 {
    text-align: left;
  }

/* feedbacks */
  
  .feedbacks-col {
    width: 60%;
    float: left;
    h4 {
      text-align: center;
    }
    .feedbacks {
      margin-right: 20px;
    }
  }
  .newfeedback-col {
    width: 40%;
    float: right;
    h4 {
      text-align: center;
    }
  }
  .fname {
    margin-left: 10px;
  }

  .fcontent {
    margin: 5px 5px 0 40px;
  }
   
/* carshow */

  .fotoshow-col {
    width: 60%;
    float: left;
  }
  .cardesc-col {
    width: 40%;
    float: right;
    padding: 0;
    .cardesc {
      margin: 0 15px;
    }
  }

/* home */

  .center-col {
    width: 69%;
    float: left;
  }
  .right-as {
    width: 29%;
    float: right;
  }
  
/* contacts */

  .vkonsq-desk, .vkonsq-sh {
    display: none;
  }
}

@media (max-width: 767px) {
  header {
    .container-fluid {
     margin: 0 10px;
    }
  }
}

@media (max-width: 480px) {
}
