@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";
@import "fotorama";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
}

.affix {
  position: static;
}

.container-fluid {
  max-width: 1001px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -41px;
}

.push {
  height: 40px;
  clear: both;
}

textarea {
  resize: vertical;
}

/* typography */

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
  margin: 3px 0;
}

/* header */

  .navbar {
    li {
     font-weight: bold;
    }
  }

#logo {
  float: left;
  margin-right: 1em;
  font-size: 1.7em;
  color: #474747;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #777777;
    text-decoration: none;
  }
}

/* footer */

footer {
  height: 40px;
  color: #a0a0a0;
  background-color: #e6e6e6;
  clear: both;
  ul {
    text-align: center;
    line-height: 40px;
    margin: 0;
  }
}

.fa-lock {
  float: left;
  color: #e6e6e6;
  padding: 14px 0 0 12px;
  &:hover {
    color: #c0c0c0;
    text-decoration: none;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* flat buttons */

.btn-flat {
  filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
  -webgit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  text-shadow: none;
  background-image: none;
  background-color: #4f4f4f;
  color: #ffffff;
  border: 0;
  display: table-cell;
  vertical-align: bottom;
  &:hover {
    background-color: #7a7a7a;
    color: #ffffff;
  }
}

/* forms */

input, textarea, select {
  border: 1px solid #bbb;
  padding: 1px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* company describtion home */

.company-main {
  background-color: #eeeeee;
}

/* car form */

.car-form {
  margin: 0 auto;
  max-width: 333px;
  text-align: center;

  textarea {
    width: 100%;
  }
  input, select {
    width: 49%;
  }

  .btn {
    width: auto;
  }

  .photo-add {
    border-bottom: 2px solid #c0c0c0;
    padding-bottom: 15px;
    input {
      width: auto;
    }
  }

  .photo-pre {
    margin: 0 15px 10px 2px;
  }

  .link-to-add {
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

/* errors */

.alert {
  margin: 5px 0 5px 0;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 3px 0 3px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  margin: 0 auto;
  max-width: 333px;
  text-align: center;
  ul {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
      &:last-child {
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
}

/* heads */

.cars-head, .contacts-head, .teaser-head, .feedbacks-head, .company-head, .other-head {
  text-align: center;
  color: #ffffff;
  background-color: #828282;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.feedbacks-head, .company-head {
  margin-top: 2px;
}

.other-head {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
}


/* cars */

.simple-first {
  background-color: #eeeeee;
}

.simple-sec {
  background-color: #f6f6f6;
}

.cars {
  list-style: none;
  margin: 0 0 0 0;
  .photo {
    margin: 5px 15px 5px 5px;
    float: left;
    border: 1px solid #e8e8e8;
    max-height: 100%;
    height: auto;
  }
  .cartext {
    padding-top: 4px;
  }

  .name {
    font-weight: bold;
  }

  .price {
    margin-right: 5px;
    white-space: nowrap;
  }

  .engine-trans {
    margin-right: 5px;
  }

  .body-type {
    margin-right: 5px;
  }

  .footage {
    margin-right: 5px;
    white-space: nowrap;
  }

  .admin {
    margin-right: 5px;
  }
}

/* teaser_cars */

.teaser_cars {
  margin: 0;
  text-align: center;
  .car-teaser {
    margin: 0 auto;
    max-width: 240px;
    background-color: #eeeeee;
    span + span {
      margin-left: 8px;
    }
  }
}

.teaser-name {
  display: block;
  margin-left: 5px;
  font-weight: bold;
}

.teaser-price {
  margin-left: 5px;
}

/* carshow */

.fotoshow-col {
  margin: 0 auto;
  max-width: 640px;
}

.cardesc-col {
  margin: 0 auto;
  max-width: 640px;
  .cardesc {
    margin: 0 10px;
    .contacts {
      font-size: 1.5em;
      padding-top: 10px;
      text-align: center;
    }
    .price {
      margin: 20px 0 0 0;

      b {
        margin-left: 1em;
      }
    }

    .ttx {
      padding-top: 0.5em;
    }

    .describtion {
      padding-top: 1em;
      text-indent: 1em;
    }
  }
}

/* phones */

.phones {
  text-align: center;
  padding-top: 4px;
  font-weight: bold;
  font-size: 1.8em;
  .phone-1 {
    margin: 4px 0;
    color: #474747;
    display: inline;
  }
  .phone-2 {
    margin: 4px 0;
    color: #545454;
    display: inline;
    white-space: nowrap;
  }
  .phone-3 {
    margin: 4px 0;
    color: #616161;
    display: inline;
    white-space: nowrap;
  }
}

/* feedbacks */

.feedbacks {
  list-style: none;
  margin: 0;
}

.feed-first {
  background-color: #eeeeee;
}

.feed-sec {
  background-color: #f6f6f6;
}

.fname {
  font-weight: bold;
  color: #696969;
  padding: 15px 0 0 12px;
}

.fcontent {
  font-style: italic;
  padding: 0 10px 0 30px;
  text-indent: 10px;
  color: #696969;
  word-wrap: break-word;
}

.edit {
  margin-left: 25px
}

/* vk_group */

.vkgroup-vidget {
  width: 100%;
  margin-top: 2px;
}

#vk_groups,
#vk_groups iframe {
  width: 100% !important;
}

/* feed new edit */

.newfeedback-col, .feed-edit, {
  text-align: center;

  input {
    width: 230px;
  }

  textarea {
    width: 301px;
  }

  .btn {
    width: auto;
    margin-top: 15px;
  }
}

/* signin-page user-edit-page user-new */

.sign-in, .user-edit, .user-new {
  text-align: center;
  .btn {
    margin-top: 15px;
    width: auto;
  }

  input {
    width: 166px;
  }
}

/* about page */

.about-page {
  h3 {
    margin: 0;
  }

  p {
    margin: 0 10px 0 15px;
    text-indent: 15px
  }
}

/* @media queries */

@media (min-width: 980px) {

/* intro */

  .intro {
    height: 93px;
    background-color: #fff;
    .intro-logo {
      float: left;
    }
    .intro-logo {
      .logo-png {
        max-height: 100%;
      }
    }
    .phones {
      padding: 0 10px 0 0;
      float: right;
      font-weight: bold;
      font-size: 1.8em;
      .phone-1 {
        margin: 4px 0;
        padding-left: 40px;
        color: #474747;
        display: block;
      }
      .phone-2 {
        margin: 4px 0;
        padding-left: 20px;
        color: #545454;
        display: block;
      }
      .phone-3 {
        margin: 4px 0;
        color: #616161;
        display: block;
      }
    }
    .intro-slogan {
      display: inline-block;
      padding-left: 80px;
      ul {
        text-align: center;
        line-height: 93px;
        margin: 0;
        font-size: 1.5em;
        font-style: italic;
      }
    }
  }

/* header */

  .navbar {
    z-index: 10000;
  }

  .navbar-inner {
    border-bottom: none;
  }

  .nav {
    li {
      a {
        color: #474747 !important;
        &:hover {
          color: #777777 !important;
        }
      }
    }
  }

  .affix {
    position: fixed;
  }

  .navbar.affix {
    top: 0;
    width: 100%;
  }
  .navbar.affix + .container-fluid {
    padding-top: 40px;
  }

  h4 {
    text-align: left;
  }

/* heads */

  .cars-head, .feedbacks-head, .teaser-head, .company-head, .other-head {
    margin-top: 7px;
  }

/* feedbacks */

  .feedbacks-col {
    width: 59%;
    float: left;
    h4 {
      text-align: center;
    }
  }
  .newfeedback-col {
    width: 40%;
    float: right;
    h4 {
      text-align: center;
    }
  }
  .fname {
    padding: 15px 0 0 22px;
  }

  .fcontent {
    padding: 0 20px 0 40px;
  }

  /* carshow */

  .fotoshow-col {
    width: 65%;
    float: left;
  }
  .cardesc-col {
    width: 35%;
    float: right;
    padding: 0;
    .cardesc {
      margin: 0 20px;
    }
  }

/* home, carindex */

  .left-as {
    width: 25%;
    float: left;
  }
  .center-col {
    float: left;
    width: 49%;
    margin-left: 1%;
  }
  .right-as {
    width: 24%;
    float: right;
  }
}

@media (min-width: 768px) and (max-width: 979px) {

  .affix {
    position: static;
  }

  h4 {
    text-align: left;
  }

/* feedbacks */

  .feedbacks-col {
    width: 60%;
    float: left;
    h4 {
      text-align: center;
    }
    .feedbacks {
      margin-right: 20px;
    }
  }
  .newfeedback-col {
    width: 40%;
    float: right;
    h4 {
      text-align: center;
    }
  }
  .fname {
    padding: 15px 0 0 22px;
  }

  .fcontent {
    padding: 0 20px 0 40px;
  }

/* carshow */

  .fotoshow-col {
    width: 60%;
    float: left;
  }
  .cardesc-col {
    width: 40%;
    float: right;
    padding: 0;
    .cardesc {
      margin: 0 15px;
    }
  }

/* home, carindex */

  .center-col {
    width: 72%;
    float: left;
  }
  .right-as {
    width: 26%;
    float: right;
  }

/* heads */

  .cars-head, .feedbacks-head, .teaser-head, .company-head, .other-head {
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
  header {
    .container-fluid {
     margin: 0 10px;
    }
  }
}

@media (max-width: 480px) {
}
