@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  height: 100%;
} 

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -46px;
}

.push {
  padding-top: 45px;
  height: 25px;
  clear: both;
}

.navbar {
  margin-left: 0;
  margin-right: 0;
}

textarea {
  resize: vertical;
}

/* typography */

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 { 
  text-align: center;
  margin: 3px 0;
}

/* header */

#logo {
  float: left;
  margin-right: 1em;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  height: 25px;
  color: #c0c0c0;
  border-top: 1px solid #c0c0c0;
  clear: both;
  ul {
    text-align:center;
    margin-left: 10px;
  }
}

.icon-lock {
  float: left;
  color: #c0c0c0;
  &:hover {
    color: #696969;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select {
  border: 1px solid #bbb;
  padding: 1px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* car form */

.car-form {
  text-align: center;
  p {
  }
  .vip-text {
    margin: 0 0 20px 10px;
  }
    
  textarea {
    width: 338px;
  }
  input, select {
    width: 160px;
  }
  
  .btn {
    width: auto;
  } 

  .photo-add {
    border-bottom: 2px solid #c0c0c0;
    padding-bottom: 15px;
    input {
      width: auto;
    }
  } 

  .photo-pre {
    margin: 0 15px 10px 2px;
  }

  .link-to-add {
    padding-top: 5px;
    padding-bottom: 10px;
  }
}
  
/* errors */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* heads */

.cars-head, .contacts-head, .vip-head, .feedbacks-head {
  text-align: center;
  color: #ffffff;
  background-color: #161616;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.feedbacks-head {
  margin-top: 2px;
}


/* cars */

.cars {
  list-style: none;
  margin: 0 0 0 0;
  li {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  .photo {
    margin: 5px 15px 5px 5px;  
    float: left;
    border: 1px solid #e8e8e8;
    max-height: 100%;
    height: auto;
  }
  .cartext {
    padding-top: 4px;
  }

  .name {
    font-weight: bold;
  }

  .price {
    margin-right: 5px;
    white-space: nowrap;
  }
  
  .engine-trans {
    margin-right: 5px;
  }

  .body-type {
    margin-right: 5px;
  }

  .footage {
    margin-right: 5px;
    white-space: nowrap;
  }

  .admin {
    margin-right: 5px;
  }
}

/* vip_cars */

.vip_cars {
  margin: 0 0 0 0;
  text-align: center;
  .car-vip {
    margin: 0 auto;
    max-width: 240px;
    background-color: #fff7ad;
    span + span {
      margin-left: 8px;
    }
  }
}

.vip-name {
  display: block;
  margin-left: 5px;
  font-weight: bold;
}

.vip-price {
  margin-left: 5px;
}
/* carshow */
.fotoshow {
}

.cardesc {
  margin: 0 10px;
  .contacts {
    font-size: 1.3em;
    padding-top: 10px;
    text-align: center;
    .vkon {
      img {
        height: 19px;
      }
    }
  }
  .price {
    margin-left: 0;
    padding-top: 10px;
    
    b {
      margin-left: 1em;
    }
  }
  
  .ttx {
    padding-top: 0.5em;
  }

  .describtion {
    padding-top: 1em;
    text-indent: 1em;
  }

}

/* contacts */

.as-contacts {
  padding-top: 0px;
  ol {
    text-align: center;
    background-color: #ffffff;
    margin: 0 0;
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
  }
  .phone {
  }
  .skype {
  }
  .vkon {
    img {
      height: 19px;
      padding-bottom: 2px;
    }
  }
}

.skype-link {
  color: #01aff0;
}

/* feedbacks */

.feedbacks-col {
  h4 {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8; 
  }
}

.feedback {
  margin-top: 10px;
  border-bottom: 1px solid #e8e8e8; 
}   

.fname {
  font-weight: bold;
  color: #696969;
  margin-left: 25px;
}

.fcontent {
  font-style: italic;
  margin: 5px 20px 0 60px;
  text-indent: 10px;
  color: #696969;
}

.edit {
  float: right;
  margin-right: 70px;
}

.newfeedback-col {
  text-align: center;
  h4 {
    padding: 10px 0;
  }
}
  
.fname-field {
  width: 230px;
}

.fcontact-field {
  width: 230px;
}

.ftext-area {
  width: 338px;
}

/* signin page */

.sign-in {
  text-align: center;
  .btn {
    margin-top: 15px;
  }
}

.sign-login {
  width: 166px;
}

.sign-pass {
  width: 166px;
}

/* @media queries */

@media (max-width: 480px) {
}

@media (max-width: 767px) {
  header {
    margin-bottom: 0 !important;
    .container-fluid {
     margin: 0 10px;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 980px) {
  body {
    padding-top: 0px;
  }
}
