<% if @cars.any? %>
  <div class="cars-head">
    текущие предложения
  </div>
  <ol class="cars">
    <% $carprev = 2 %>
    <%= render @cars %>
  </ol>
  <%= will_paginate @cars %>
<% else %>
  <h4> На данный момент предложения отсутсвуют. </h4>
<% end %>

