<% provide(:title, 'Рекомендуем') %>
<div class="row-fluid">
  <span class="center-col-cars">
    <div id="center-div">
      <div id="center-cars">
        <%= render 'center_cars' %>
      </div>
    </div>
  </span>
</div>
