<% provide(:title, "#{@car.name}, #{@car.yearofrelease}") %>
<h5><%= "#{@car.name}, #{@car.yearofrelease}" %></h5>
<ul>
  <% if @car.photos.any? %>
      <li>
        <%= image_tag(@photo.image.url) %>
      </li>
  <% else %>
    <%= image_tag ("default.png") %>
  <% end %>
  <% if @car.photos.any? %>
    <div class="car_photos">
      <% for photo in @car.photos %>
        <li>
          <%= link_to image_tag(photo.image.url(:thumb)), car_path(@car, photo.id) %>
        </li>
      </div>
    <% end %>
  <% end %>
</ul>
