<div class="contacts-head visible-desktop">
       позвоните нам 
</div>
<ol class="desc-contacts">
  <div class="phone-desk"><i class="fa fa-phone-square"></i> 36-04-95 </div>   
  <div class="phone-desk"><i class="fa fa-phone-square"></i> 36-04-96 </div>   
  <div class="phone-desk"><i class="fa fa-phone-square"></i> 36-04-97 </div>   
</ol>

