<div class="intro visible-desktop">
  <div class="container-fluid">
    <div class="row-fluid">
      <span class="intro-logo">
        <%= link_to(image_tag("logo_wide.png", class: "logo-png"), root_path) %>
      </span>
      <span class="intro-slogan">
        <ul>
          БЕРЕЖЕМ ВАШИ ВРЕМЯ, НЕРВЫ и ДЕНЬГИ..
        </ul>
      </span>
      <%= render 'layouts/phones' %>
    </div>
  </div>
</div>

