<div class="visible-desktop" id="intro">
  <div class="container-fluid">
    <div class="row-fluid">
      <span id="intro-logo">
        <%= link_to(image_tag("logo_wide.png", id: "logo-png"), root_path) %>
      </span>
      <span id="intro-slogan">
        <ul>
          СБЕРЕЖЁМ ВАШИ ВРЕМЯ, ДЕНЬГИ И НЕРВЫ
        </ul>
      </span>
      <%= render 'layouts/phones' %>
    </div>
  </div>
</div>

