<div class="visible-desktop intro">
  <div class="container-fluid">
    <div class="row-fluid">
      <span class="intro-logo">
        <a href="/">
        </a>
      </span>
      <span class="intro-slogan">
          СБЕРЕЖЁМ ВАШИ ВРЕМЯ, ДЕНЬГИ И НЕРВЫ
      </span>
      <span class="phone-company phone-intro">
        <%= render 'layouts/phones' %>
      </span>
    </div>
  </div>
</div>

