<span class="intro-phones">
  <div class="phones">
    <div class="phone-1"><i class="fa fa-phone-square"></i> 36-04-95 </div>
    <div class="phone-2"><i class="fa fa-phone-square"></i> 36-04-96 </div>
    <div class="phone-3"><i class="fa fa-phone-square"></i> 36-04-97 </div>
  </div>
</span>

