<span id="intro-phones">
  <div id="phones">
    <div id="phone-1"><i class="fa fa-phone-square"></i><a href="tel: 360495"> 36-04-95 </a></div>
    <div id="phone-2"><i class="fa fa-phone-square"></i><a href="tel: 360496"> 36-04-96 </a></div>
    <div id="phone-3"><i class="fa fa-phone-square"></i><a href="tel: 360497"> 36-04-97 </a></div>
  </div>
</span>

